includes:
	- phpstan.base.neon

parameters:
	ignoreErrors:
		# Intentional, tests reporting
		- message: '#^Missing \@throws Tests\\Modette\\Exceptions\\Fixtures\\ExampleDomainException annotation$#'
		  path: %currentWorkingDirectory%/tests/Unit/Check/CheckedExceptionTest.php
